---
import Layout from '../layouts/Layout.astro';
import Opening from '../components/Opening.astro';
import '../sources/style.css';
import OutherOpening from '../components/OutherOpening.astro';
---

<Layout title="Yağlar - Cosmetica">
	
	<main>
		<OutherOpening link="https://www.cosmetica.com.tr/cosmetica-hindistan-cevizi-yagi-100-saf-190-ml.html"/>
		<Opening
			source="https://img-cosmetica.mncdn.com/UPLOAD/URUNLER/thumb/227165_1_medium.jpg"
			fs="%100 Saf 20 mL"
			ls="Hindistan Cevizi Yağı"

			tarifText="<b>Saf hindistan cevizi yağı,</b> hindistan cevizi meyvesinin kurutulduktan sonra soğuk pres veya rafine edilmiş yöntemlerle elde edilen yağdır. Temel olarak, hindistan cevizi etinin sıkıştırılmasıyla yağ çıkarılır. İşlem sırasında kimyasal maddeler veya yüksek ısı kullanılmaz, böylece doğal bileşenleri ve besin değerlerini korur."
			faydalarText="<ul class='ul'><li><b>Cilt Bakımı</b> Saf Hindistan Cevizi yağı cildi nemlendirebilir, yatıştırabilir ve güneş hasarından koruyabilir.</li><li><b>Saç Bakımı:</b> Saf Hindistan Cevizi yağı, saç derisindeki bazı problemlerin giderilmesine yardımcı olabilir. Ayrıca saçları güçlendirebilir ve parlaklık kazandırabilir.</li><li><b>Masaj</b> Saf Hindistan Cevizi yağı, masaj yağı olarak kullanılabilir. Masaj sırasında rahatlatıcı bir etki sağlayabilir.</li><li><b>Aromaterapi</b> Saf Hindistan Cevizi yağı, aromaterapi uygulamalarında kullanılabilir. Narenciye kokusu ile birlikte rahatlatıcı bir etki sağlayabilir.</li></ul>"
			kullanimText='<ul><li><b>Cilt Nemlendiricisi: </b>Hindistan cevizi yağı, doğal bir nemlendirici olarak kullanılabilir. Duştan sonra hafif nemli cilde uygulayarak vücudunuzun nemini korumasına yardımcı olabilirsiniz. Kuru bölgeleri hedef almak için özellikle dirsekler, topuklar ve dizler gibi alanlara masaj yapabilirsiniz.</li><li><b>Saç Bakımı:</b> Hindistan cevizi yağı, saçlarınızı güçlendirmek, parlaklık kazandırmak ve kırıkları azaltmak için harika bir doğal üründür. Haftada bir kez, saç diplerine ve uçlarına uygulayın. Yaklaşık 30 dakika bekletin ve ardından doğal bir şampuanla iyice durulayın.</li><li><b>Makyaj Temizleyici:</b> Hindistan cevizi yağı, makyaj çıkarmak için etkili bir doğal çözümdür. Pamuğa bir miktar yağ sürün ve göz makyajınızı veya yüz makyajınızı nazikçe silin. Yağ, makyajı kolayca çıkarırken cildinizi nemlendirir.</li><li><b>Dudak Bakımı:</b> Kuru ve çatlamış dudakları nemlendirmek için Hindistan cevizi yağı kullanabilirsiniz. Doğal bir dudak balsamı olarak kullanarak yumuşak ve pürüzsüz dudaklara sahip olabilirsiniz.</li><li><b>Vücut Peelingi:</b> Hindistan cevizi yağı ile kendi vücut peelinginizi yapabilirsiniz. Toz şeker veya deniz tuzu ile karıştırarak bir karışım oluşturun ve cildinize nazikçe masaj yapın. Ardından durulayın ve cildinizin yumuşak ve pürüzsüz hissetmesini sağlayın.</li><li><b>Ayak Bakımı:</b> Ayaklarınızı rahatlatmak ve yumuşak tutmak için Hindistan cevizi yağı kullanabilirsiniz. Yatmadan önce ayaklarınıza yağı masaj yaparak sürün ve pamuklu çoraplar giyerek gece boyunca etkilenmesine izin verin.</li><li><b>Tırnak ve Cuticle Bakımı:</b> Kuru ve zayıf tırnakları güçlendirmek için Hindistan cevizi yağını kullanabilirsiniz. Tırnaklarınıza ve tırnak etlerinize masaj yaparak sürün. Bu, tırnaklarınızın daha sağlıklı ve daha güçlü olmasına yardımcı olur.</li></ul><br/> <div class="problema">Ciltte herhangi bir alerjik reaksiyon veya irritasyon (tahriş) görülürse kullanımı derhal durdurulmalıdır. Kullanmadan önce doktor, eczacı gibi bir sağlık uzmanına danışılması önerilir.</div>'
			uyariText='<ul><li>Isı, ışık ve nemden uzakta, ağzı kapalı muhafaza ediniz. Uygulamadan sonra gün ışığı ile direkt temastan kaçınınız. Çocukların erişemeyeceği yerlerde ve orijinal ambalajında saklayınız. Göz ve mukozaya doğrudan temas ettirmeyiniz. İlaç değildir.</li></ul>'
		/>
		<div class="boubles">
			<div class="b1"></div>
			<div class="b2"></div>
		</div>
	</main>
</Layout>

<!--"npm run dev" to start -->
