---
import Layout from '../layouts/Layout.astro';
import Opening from '../components/Opening.astro';
import '../sources/style.css';
import OutherOpening from '../components/OutherOpening.astro';
---

<Layout title="Yağlar - Cosmetica">
	
	<main>
		<OutherOpening link="https://www.cosmetica.com.tr/cosmetica-100-saf-sari-kantaron-yagi-20-ml.html"/>
		<Opening
			source="https://img-cosmetica.mncdn.com/UPLOAD/URUNLER/thumb/226510_1_medium.jpg"
			fs="%100 Saf 20 mL"
			ls="Sarı Kantaron Yağı"

			tarifText="<b>Saf sarı kantaron yağı</b>, sarı kantaron bitkisinin çiçeklerinden elde edilen bir yağdır. Çiçekler soğuk presleme veya buhar distilasyonu yöntemiyle işlenerek yağ elde edilir. Renk olarak soluk sarı veya turuncu tonlarına sahip olabilir ve hafif bir bitki kokusu vardır."
			faydalarText="<ul class='ul'><li><b>Cilt Bakımı</b> Saf sarı kantaron yağı cildi nemlendirebilir, yatıştırabilir ve güneş hasarından koruyabilir.</li><li><b>Saç Bakımı:</b> Saf sarı kantaron yağı, saç derisindeki bazı problemlerin giderilmesine yardımcı olabilir. Ayrıca saçları güçlendirebilir ve parlaklık kazandırabilir.</li><li><b>Masaj</b> Saf sarı kantaron yağı, masaj yağı olarak kullanılabilir. Masaj sırasında rahatlatıcı bir etki sağlayabilir.</li><li><b>Aromaterapi</b> Saf sarı kantaron yağı, aromaterapi uygulamalarında kullanılabilir. Narenciye kokusu ile birlikte rahatlatıcı bir etki sağlayabilir.</li></ul>"
			kullanimText='Cilde uygulamadan önce, bir taşıyıcı yağ ile mutlaka seyreltilmelidir. Aromaterapi için birkaç damla yağı, difüzör veya buhar banyosuna eklenerek kullanılabilir. <br/> <div class="problema">Ciltte herhangi bir alerjik reaksiyon veya irritasyon (tahriş) görülürse kullanımı derhal durdurulmalıdır. Kullanmadan önce doktor, eczacı gibi bir sağlık uzmanına danışılması önerilir.</div>'
			uyariText='<ul><li>Doğrudan cilde uygulandığında cilt tahrişine ve hassasiyete neden olabilir. Bu nedenle, her zaman bir taşıyıcı yağ ile seyreltilmelidir.</li><li>Uygulamadan sonra güneş ışığına maruz kalmaktan kaçınılmalı veya güneş koruyucu kullanılmalıdır.</li><li>Göz ve mukozaya doğrudan temas ettirilmemelidir.</li><li>Hamile kadınlar, emziren anneler ve çocuklar gibi özel durumları olan kişiler önce doktorlarına danışmalıdır.</li><li>Alerjik reaksiyonlara neden olabilir. İlk kez kullanmadan önce, bir küçük bölgede test yaparak herhangi bir olumsuz reaksiyon olup olmadığını kontrol edilmelidir.</li><li>Yüksek tansiyon ilaçları veya antidepresanlar gibi bazı ilaçlarla etkileşime girerek yan etkilere neden olabilir. Bu nedenle, eğer bir tıbbi durum varsa, kullanmadan önce bir doktorla görüşülmesi önerilir.</li><li>Kuru ve serin yerde, direkt güneş ışığından uzak yerde saklanmalı. Çocukların ulaşamayacağı yerde muhafaza edilmelidir. İlaç değildir.</li></ul>'
		/>
		<div class="boubles">
			<div class="b1"></div>
			<div class="b2"></div>
		</div>
	</main>
</Layout>

<!--"npm run dev" to start -->
