@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

* {
    transition: 0.2s all;
}

main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

main > div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: row;
    font-family: Comfortaa;
    position: absolute;
    height: auto;
    background: transparent;
    backdrop-filter: blur(8px);
    text-align: end;
    width: calc(100% - 100px);
    margin-bottom: 20px;
    right: 25px;
    top: 0;
    font-size: 3.5rem;
    z-index: 50;
    font-weight: 700;
    color: rgb(var(--accent));
    letter-spacing: -2px;
}

main .boubles {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100vh;
}

main .boubles .b1 {
    position: absolute;
    top: 60px;
    right: 70px;
    background: rgb(var(--accent));
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
}

main .boubles .b2 {
    position: absolute;
    top: calc(50% + 50px);
    left: calc(50% + 100px);
    transform: translate(-50%,-50%);
    background: rgb(var(--accent));
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    filter: invert(100%);
}

.text ul, .text .ul {
   padding-left: 20px;
    margin: 0;
}

.text ul li::marker {
    list-style-type: none !important;
}

.text ul li b {
    color: rgb(var(--accent));
    padding-right: 0.2rem;
    border-bottom: 0.2rem solid rgb(var(--accent));
    border-right: 0.2rem solid rgb(var(--accent));
}

.problema::before {
    font-style: italic;
    padding-right: 0.2rem;
    content: '!';
    font-weight: 900;
    font-size: 1.2rem;
    color: rgb(var(--accent));
}

@media (max-width: 700px) {
    .opening {
        flex-direction: column !important;
    }
    
    .opening img {
        margin: 0 !important;
        border-radius: 0;
        transform: rotateZ(0deg);
        width: 100% !important;
    }

    .opening .texts {
        margin-left: 0;
    }

    .opening .texts .fs {
        font-size: 3rem !important;
    }

    .opening .texts > hr + * {
        margin-left: 10px !important;
    }

    main > div:first-child a {
        font-size: 1.5rem;
        background: white;
        color: rgb(var(--accent));
    }

    main > div:first-child span {
        font-size: 2rem;
    }
}